
.remove-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: red;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 15px;
}
.btn-secondary {
    font-size: 20px;
}

.card.m-2 .card-body .card-title {
    height: 55px;
    width: 240px;
    font-size: 20px;
}

ul {
    list-style: none;

}

h2 {
    text-align: center;
}