* {
    text-align: center;
}

.habits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    max-width: 62.5rem;
    padding-top: 2rem;
}

.habit-card {
    position: relative;
    flex-grow: 1;
    height: 11rem;
    border: 2px solid black;
    width: 30rem;
}

.habit-card-buttons {
position: relative;
left: 100px;
   
}



.habit-card .remove-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

