/* * {
    text-align: center;
} */

.header-container {
    text-align: center;
}

.habits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    max-width: 62.5rem;
    padding-top: 2rem;
}

.habit-card {
    position: relative;
    flex-grow: 1;
    height: 11rem;
    border: 2px solid black;
    width: 30rem;
    max-width: 30rem;
}

h2 {
    text-align: center;
}

.habit-content {
    display: flex;
    justify-content: space-evenly;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.habit-card .remove-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

ul {
    list-style: none;

}

.habit-list {
    margin: 0;
    padding: 0;
}