body {
  margin-top: 10px;
  margin-left: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customButton {
  padding: 8px 12px;
  margin: 5px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #327ae3;
}

.input {
  padding: 6px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.select {
  padding: 6px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.label {
  padding: 10px;
  font-weight: bold;
  margin-right: 8px;
  color: #555;
}

.friend:hover {
  background-color: #f0f0f0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.details {
  margin-left: 60px;
  background-color: #4285f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
